body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f4f8;
}

h1 {
    color: #2c3e50;
}

#palabra {
    font-size: 30px;
    letter-spacing: 10px;
    margin: 20px;
}

#letras button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
